body {
  background-color: beige;
  text-align: center;
}

input {
  margin-top: 70px;
  width: 300px;
  height: 20px;
}

.container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 200px;
}

img {
  margin-top: 10px;
}

.theme-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

.darkMode {
  background-color: #303030;
  color: white;
  height: 100vh;
}
