body {
  background-color: beige;
  text-align: center;
}

.searchInput {
  margin-top: 70px;
  width: 300px;
  height: 20px;
}

.container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 300px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: linen;
}

img {
  margin-top: 10px;
}

.theme-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

.add-user-btn {
  position: absolute;
  right: 10px;
  top: 70px;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  background-color: palegoldenrod;
}

.darkMode {
  background-color: #303030;
  color: white;
  height: 100vh;
}

button {
  cursor: pointer;
  margin: 3px 0;
}

.user-modal {
  border: 1px solid orange;
  width: 300px;
  margin: auto;
  padding: 100px;
  background-color: lemonchiffon;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 400px;
}

.user-modal input {
  margin-bottom: 10px;
}